.w3-quarter img{
    width: 100%;
}

img:hover{
    transform: scale(1.15);
    background: rgb(243, 241, 241);
    border: 2px dashed #5F576C;
}

div.hover{
    position: relative;
    margin-bottom: 40px;
}

.main{
    padding-left: 8%;
    padding-right: 8%;
}

#select-box, .post-box{
  
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

#deleteBtn{
    position: absolute;
    top:0ch;
    right:0ch;
}

.pClass{
    display: none;
}


/* <!-- HTML !-->
<button class="button-27" role="button">Button 27</button> */

/* CSS */
#deleteBtn, #submitBtn{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  /* box-sizing: border-box; */
  color: #FFFFFF;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  /* margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px; */
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  will-change: transform;
}

#deleteBtn:disabled, #submitBtn:disabled {
  pointer-events: none;
}

#deleteBtn:hover, #submitBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#deleteBtn:active, #submitBtn:active {
  box-shadow: none;
  transform: translateY(0);
}



/* How it works page */
.howitworks-box{
    border: 3px dashed #EF6B63;
    margin: 10%;
    padding: 2%;
}

#myBirthdayBonus{
    margin-right: 5%;
    color:honeydew;
    font-weight: bolder;
    background-image: url(https://pikwizard.com/photos/sweet-candy-confectionery--3d3ddea468afdcad11c8e92b263d280c-m.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#myBirthdayBonus > a{
    text-decoration: none;
}

/* New Post page */
.post-box{
    margin-left: 8%;
    margin-right: 8%;
    border: 3px dashed #EF6B63;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
}